langchain
langgraph
langchain_community
langchain_core
langchain_google_genai
langchain_chroma
langchain_text_splitters
langchain_tavily
google-generativeai
google-auth
google-api-python-client
dotenv
asyncio
fastapi
streamlit
uvicorn[standard]
python-dotenv
beautifulsoup4